
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');




.center-block {
    text-align: center;
    display:block;
  }
  
  
  
  
  /* Custom Table fields */
  
  .markdown-rendered .client,
  .markdown-rendered .block {
    font-size: .55em;
    font-weight:bold;
    text-transform: uppercase;
    background: var(--background-secondary-alt);
    padding: 5px 7px;
    letter-spacing: .5px;
    border-radius: 3px;
    display: inline;
  }
  
  .markdown-rendered .summary,
  .markdown-rendered span.summary {
    font-size: .8em;
    display: block;
    line-height: 1.5em;
    /* font-style: italic; */
    padding:5px 0 0 0;
  }
  

  
  // CALLOUTS
  
  
  .callout-content {
      padding: 20px;
  }
  
  .callout-title {
      padding:15px;
  }





/* MADO TABLES (from mados theme.css */

.markdown-rendered thead tr {
    background-color: var(--table-header-background); 
}

/* Mado Table */
.markdown-rendered table{
	width:calc(100% - 0px);
	margin-inline:auto;
	border-radius:var(--button-radius);
	border-collapse:separate;
	border:var(--border);
	padding:2px;
	background:var(--background-secondary);
}

.markdown-rendered table :is(th, td){
	padding:11px 11px;
	text-align:left;
	min-width:83px;
}

.markdown-rendered table th{
	background-color:var(--background-secondary);
	font-weight:600;
	font-size:1em;
}

.markdown-rendered table td,
.markdown-rendered table th{
	background:var(--background-fourth);
	border:none;
	font-weight:400;
}

.markdown-rendered table thead>tr>*:first-child{
	border-radius:4px 0 0 0;
}

.markdown-rendered table thead>tr>*:last-child{
	border-radius:0 4px 0 0;
}

.markdown-rendered table tbody>tr:last-child>*:first-child{
	border-radius:0 0 0 4px;
}

.markdown-renderedtable tbody>tr:last-child>*:last-child{
	border-radius:0 0 4px 0;
}


/* Mado Table Options */
// [class*="mado-table"]:not(.mado-table-normal).mado-table-left table tr :is(th:first-child, td:first-child),
// [class*="mado-table"]:not(.mado-table-normal).mado-table-right table tr :is(th:last-child, td:last-child),
// [class*="mado-table"]:not(.mado-table-normal).mado-table-top table tr th,
// [class*="mado-table"]:not(.mado-table-normal).mado-table-bottom table tr:last-child td{
// 	background-color:var(--background-secondary);
// 	font-weight:600;
// 	font-size:1em;
// 	border:var(--border);
// }

// .mado-table-normal.mado-table-left table tr :is(th:first-child, td:first-child),
// .mado-table-normal.mado-table-right .markdown-preview-section table tr :is(th:last-child, td:last-child),
// .mado-table-normal.mado-table-top.markdown-rendered .markdown-preview-section table tr th,
// .mado-table-normal.mado-table-bottom .markdown-preview-section table tr:last-child td{
// 	background-color:var(--background-secondary);
// 	font-weight:600;
// 	font-size:1em;
// }

// .mado-table-normal.mado-table-left .markdown-preview-section table tr :is(th:first-child, td:first-child){
// 	border-right:1px solid var(--color-accent-1);
// }
// .mado-table-normal.mado-table-right .markdown-preview-section table tr :is(th:last-child, td:last-child){
// 	border-left:1.5px solid var(--color-accent-1);
// }
// .mado-table-normal.mado-table-bottom .markdown-preview-section table tr:last-child td{
// 	border-top:2px solid var(--color-accent-1);
// }

/* Mado Table Stripe/Border styling, also adapting colors for headers */
.markdown-rendered table tr:nth-child(2n) td:not(:first-child):not(:last-child),
.markdown-rendered table tr:nth-child(2n) td:first-child,
.markdown-rendered table tr:nth-child(2n+1) :is(td:first-child, td:last-child) {
	background-color:var(--background-primary);
}
.markdown-rendered table tr:nth-child(2n) td {
	background-color:var(--background-secondary);
}



/* Mado Table Auto-Expand */

// /* Remove master-parent width limit */
// .mado-table-auto.is-readable-line-width>div.markdown-preview-sizer.markdown-preview-section,
// .mado-table-auto.markdown-source-view.mod-cm6.is-readable-line-width :is(.cm-sizer, .cm-content){
// 	max-width:100%;
// }

// /* attach width limit to all other normal divs except table */
// .mado-table-auto.is-readable-line-width>div.markdown-preview-sizer.markdown-preview-section>div>*,
// .mado-table-auto.markdown-source-view.mod-cm6.is-readable-line-width .cm-editor .cm-contentContainer .cm-content div:not(.cm-table-widget){
// 	max-width:var(--file-line-width);
// 	margin-inline:auto!important;
// }
// .mado-table-auto.is-readable-line-width>div.markdown-preview-sizer.markdown-preview-section>div>table,
// .mado-table-auto.markdown-source-view.mod-cm6.is-readable-line-width .cm-editor .cm-contentContainer .cm-content table{
// 	max-width:100%;
// 	width:auto;
// 	margin-inline:auto!important;
// }



  
