body {
    /***
      ADD YOUR CUSTOM STYLING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/
    //  background-color: white;
    //  .content {
    //   font-size: 14px;
    //  }
    //  h1 {
    //   color: black;
    //  }
}




/* MADO TABLES (from mados theme.css */



/* Mado Table */
[class*="mado-table"]:not(.mado-table-normal) .markdown-preview-section table{
	width:calc(100% - 0px);
	margin-inline:auto;
	border-radius:var(--button-radius);
	border-collapse:separate;
	border:var(--border);
	padding:2px;
	background:var(--background-secondary);
}
[class*="mado-table"]:not(.mado-table-normal) .markdown-preview-section table :is(th, td){
	padding:11px 11px;
	text-align:center;
	min-width:83px;
}
[class*="mado-table"]:not(.mado-table-normal) .markdown-preview-section table th{
	background-color:var(--background-secondary);
	font-weight:600;
	font-size:1em;
}
[class*="mado-table"]:not(.mado-table-normal).markdown-rendered .markdown-preview-section table td,
[class*="mado-table"]:not(.mado-table-normal).mado-table-topless .markdown-preview-section table th{
	background:var(--background-fourth);
	border:none;
	font-weight:400;
}
[class*="mado-table"]:not(.mado-table-normal) .markdown-preview-section table thead>tr>*:first-child{
	border-radius:4px 0 0 0;
}
[class*="mado-table"]:not(.mado-table-normal) .markdown-preview-section table thead>tr>*:last-child{
	border-radius:0 4px 0 0;
}
[class*="mado-table"]:not(.mado-table-normal) .markdown-preview-section table tbody>tr:last-child>*:first-child{
	border-radius:0 0 0 4px;
}
[class*="mado-table"]:not(.mado-table-normal) .markdown-preview-section table tbody>tr:last-child>*:last-child{
	border-radius:0 0 4px 0;
}


/* Mado Table Options */
[class*="mado-table"]:not(.mado-table-normal).mado-table-left .markdown-preview-section table tr :is(th:first-child, td:first-child),
[class*="mado-table"]:not(.mado-table-normal).mado-table-right .markdown-preview-section table tr :is(th:last-child, td:last-child),
[class*="mado-table"]:not(.mado-table-normal).mado-table-top.markdown-rendered .markdown-preview-section table tr th,
[class*="mado-table"]:not(.mado-table-normal).mado-table-bottom .markdown-preview-section table tr:last-child td{
	background-color:var(--background-secondary);
	font-weight:600;
	font-size:1em;
	border:var(--border);
}
.mado-table-normal.mado-table-left .markdown-preview-section table tr :is(th:first-child, td:first-child),
.mado-table-normal.mado-table-right .markdown-preview-section table tr :is(th:last-child, td:last-child),
.mado-table-normal.mado-table-top.markdown-rendered .markdown-preview-section table tr th,
.mado-table-normal.mado-table-bottom .markdown-preview-section table tr:last-child td{
	background-color:var(--background-secondary);
	font-weight:600;
	font-size:1em;
}
.mado-table-normal.mado-table-left .markdown-preview-section table tr :is(th:first-child, td:first-child){
	border-right:1px solid var(--color-accent-1);
}
.mado-table-normal.mado-table-right .markdown-preview-section table tr :is(th:last-child, td:last-child){
	border-left:1.5px solid var(--color-accent-1);
}
.mado-table-normal.mado-table-bottom .markdown-preview-section table tr:last-child td{
	border-top:2px solid var(--color-accent-1);
}

/* Mado Table Stripe/Border styling, also adapting colors for headers */
[class*="mado-table"]:not(.mado-table-normal).mado-table-stripe.markdown-rendered 						.markdown-preview-section table tr:nth-child(2n) td:not(:first-child):not(:last-child),
[class*="mado-table"]:not(.mado-table-normal).mado-table-stripe.markdown-rendered:not(.mado-table-left) .markdown-preview-section table tr:nth-child(2n) td:first-child,
[class*="mado-table"]:not(.mado-table-normal).mado-table-stripe.markdown-rendered.mado-table-left 		.markdown-preview-section table tr:nth-child(2n+1) td:first-child,
[class*="mado-table"]:not(.mado-table-normal).mado-table-stripe.markdown-rendered:not(.mado-table-right) .markdown-preview-section table tr:nth-child(2n) td:last-child,
[class*="mado-table"]:not(.mado-table-normal).mado-table-stripe.markdown-rendered.mado-table-right 		.markdown-preview-section table tr:nth-child(2n+1) td:last-child,
.mado-table-normal.mado-table-stripe.markdown-rendered 	.markdown-preview-section table tr:nth-child(2n+1) :is(td:first-child, td:last-child),
[class*="mado-table"]:not(.mado-table-normal).mado-table-border.markdown-rendered .markdown-preview-section table :is(tr th:nth-child(2n+2), tr td:nth-child(2n+1)),
[class*="mado-table"]:not(.mado-table-normal).mado-table-border.markdown-rendered.mado-table-bottom .markdown-preview-section table tr:last-child td:nth-child(2n){
	background-color:var(--background-primary);
}
.mado-table-normal.mado-table-stripe.markdown-rendered .markdown-preview-section table tr:nth-child(2n) td,
.mado-table-normal.mado-table-border.markdown-rendered .markdown-preview-section table :is(tr th:nth-child(2n+1), tr td:nth-child(2n+1)),
.mado-table-border.markdown-rendered.mado-table-bottom .markdown-preview-section table tr:last-child td:nth-child(2n+1),
[class*="mado-table"]:not(.mado-table-normal).mado-table-stripe.markdown-rendered.mado-table-bottom .markdown-preview-section table tr:last-child :is(td:first-child, td:last-child){
	background-color:var(--background-secondary);
}



/* Mado Table Auto-Expand */

/* Remove master-parent width limit */
.mado-table-auto.is-readable-line-width>div.markdown-preview-sizer.markdown-preview-section,
.mado-table-auto.markdown-source-view.mod-cm6.is-readable-line-width :is(.cm-sizer, .cm-content){
	max-width:100%;
}

/* attach width limit to all other normal divs except table */
.mado-table-auto.is-readable-line-width>div.markdown-preview-sizer.markdown-preview-section>div>*,
.mado-table-auto.markdown-source-view.mod-cm6.is-readable-line-width .cm-editor .cm-contentContainer .cm-content div:not(.cm-table-widget){
	max-width:var(--file-line-width);
	margin-inline:auto!important;
}
.mado-table-auto.is-readable-line-width>div.markdown-preview-sizer.markdown-preview-section>div>table,
.mado-table-auto.markdown-source-view.mod-cm6.is-readable-line-width .cm-editor .cm-contentContainer .cm-content table{
	max-width:100%;
	width:auto;
	margin-inline:auto!important;
}

