
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');


body {
    --font-default: "JetBrains Mono", ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    ;
    --font-monospace-default: "JetBrains Mono", Menlo, SFMono-Regular, Consolas, "Roboto Mono", 'Source Code Pro', monospace;
    --font-interface-override: '??';
    --font-interface-theme: '??';
    --font-interface: var(--font-interface-override), var(--font-interface-theme), var(--default-font, '??'), var(--font-default);
    --font-text-override: '??';
    --font-text-theme: '??';
    --font-text: var(--font-text-override), var(--font-text-theme), var(--font-interface);
    --font-monospace-override: '??';
    --font-monospace-theme: '??';
    --font-monospace: var(--font-monospace-override), var(--font-monospace-theme), var(--font-monospace-default);
    --font-text-size: 16px;
    --font-mermaid: var(--font-text);
  }



  
  
  
  /* Custom Table fields */
  
  .markdown-rendered .client,
  .markdown-rendered .block {
    font-size: .55em;
    font-weight:bold;
    text-transform: uppercase;
    background: var(--background-secondary-alt);
    padding: 5px 7px;
    letter-spacing: .5px;
    border-radius: 3px;
    display: inline;
  }
  
  
  .markdown-rendered table {
          margin: auto;
        width:calc(100% - 0px);
        margin-inline:auto;
        border-radius:var(--button-radius);
        border-collapse:separate;
        padding:2px;
      }
  
  .markdown-rendered table, 
  .markdown-rendered th, 
  .markdown-rendered td {
      border: 1px solid rgba(255, 255, 255, .25);
      border-collapse: collapse;
      font-size: 18px;
      line-height: 1.5;
  }
  
  .markdown-rendered th {
      border:1px solid #fff;
  }
  
  
  .markdown-rendered th, 
  .markdown-rendered td {
      padding: 20px;
      font-size: var(--table-text-size);
      color: var(--table-text-color);
  }
  
  .markdown-rendered thead {
      border-top: 2px solid var(--color-accent);
  }
  
  .markdown-rendered .summary,
  .markdown-rendered span.summary {
    font-size: .8em;
    display: block;
    line-height: 1.5em;
    /* font-style: italic; */
    padding:5px 0 0 0;
  }
  
  .markdown-rendered thead tr>th {
       border: 1px solid rgba(255, 255, 255, .25);
  }
  
  .markdown-rendered thead>tr>th,
  .table-view-table>thead>tr>th {
      font-weight: 700;
      font-size: normal;
      border-top: none;
      border-left: none;
      border-right: none;
      border-bottom: solid;
      max-width: 100%;
  }
  
  .table-view-table>tbody>tr>td {
      text-align: left;
      border: 1px solid rgba(255, 255, 255, .25);
      font-weight: 400;
      max-width: 100%;
  }
  
  .markdown-rendered th {
      font-size: var(--table-header-size);
      font-weight: var(--table-header-weight);
      color: var(--table-header-color);
      font-family: var(--table-header-font);
      text-align: left;
  }
  
  
  .markdown-rendered .table-view-table>tbody>tr:hover {
      background-color: var(--text-selection) !important;
  }
  
  .markdown-rendered tbody tr:hover,
  .markdown-rendered tbody tr:nth-child(odd):hover {
      background-color: var(--text-selection);
  }
  
  // CALLOUTS
  
  
  .callout-content {
      padding: 20px;
  }
  
  .callout-title {
      padding:15px;
  }





/* MADO TABLES (from mados theme.css */



/* Mado Table */
[class*="mado-table"]:not(.mado-table-normal) .markdown-preview-section table{
	width:calc(100% - 0px);
	margin-inline:auto;
	border-radius:var(--button-radius);
	border-collapse:separate;
	border:var(--border);
	padding:2px;
	background:var(--background-secondary);
}
[class*="mado-table"]:not(.mado-table-normal) .markdown-preview-section table :is(th, td){
	padding:11px 11px;
	text-align:center;
	min-width:83px;
}
[class*="mado-table"]:not(.mado-table-normal) .markdown-preview-section table th{
	background-color:var(--background-secondary);
	font-weight:600;
	font-size:1em;
}
[class*="mado-table"]:not(.mado-table-normal).markdown-rendered .markdown-preview-section table td,
[class*="mado-table"]:not(.mado-table-normal).mado-table-topless .markdown-preview-section table th{
	background:var(--background-fourth);
	border:none;
	font-weight:400;
}
[class*="mado-table"]:not(.mado-table-normal) .markdown-preview-section table thead>tr>*:first-child{
	border-radius:4px 0 0 0;
}
[class*="mado-table"]:not(.mado-table-normal) .markdown-preview-section table thead>tr>*:last-child{
	border-radius:0 4px 0 0;
}
[class*="mado-table"]:not(.mado-table-normal) .markdown-preview-section table tbody>tr:last-child>*:first-child{
	border-radius:0 0 0 4px;
}
[class*="mado-table"]:not(.mado-table-normal) .markdown-preview-section table tbody>tr:last-child>*:last-child{
	border-radius:0 0 4px 0;
}


/* Mado Table Options */
[class*="mado-table"]:not(.mado-table-normal).mado-table-left .markdown-preview-section table tr :is(th:first-child, td:first-child),
[class*="mado-table"]:not(.mado-table-normal).mado-table-right .markdown-preview-section table tr :is(th:last-child, td:last-child),
[class*="mado-table"]:not(.mado-table-normal).mado-table-top.markdown-rendered .markdown-preview-section table tr th,
[class*="mado-table"]:not(.mado-table-normal).mado-table-bottom .markdown-preview-section table tr:last-child td{
	background-color:var(--background-secondary);
	font-weight:600;
	font-size:1em;
	border:var(--border);
}
.mado-table-normal.mado-table-left .markdown-preview-section table tr :is(th:first-child, td:first-child),
.mado-table-normal.mado-table-right .markdown-preview-section table tr :is(th:last-child, td:last-child),
.mado-table-normal.mado-table-top.markdown-rendered .markdown-preview-section table tr th,
.mado-table-normal.mado-table-bottom .markdown-preview-section table tr:last-child td{
	background-color:var(--background-secondary);
	font-weight:600;
	font-size:1em;
}
.mado-table-normal.mado-table-left .markdown-preview-section table tr :is(th:first-child, td:first-child){
	border-right:1px solid var(--color-accent-1);
}
.mado-table-normal.mado-table-right .markdown-preview-section table tr :is(th:last-child, td:last-child){
	border-left:1.5px solid var(--color-accent-1);
}
.mado-table-normal.mado-table-bottom .markdown-preview-section table tr:last-child td{
	border-top:2px solid var(--color-accent-1);
}

/* Mado Table Stripe/Border styling, also adapting colors for headers */
[class*="mado-table"]:not(.mado-table-normal).mado-table-stripe.markdown-rendered 						.markdown-preview-section table tr:nth-child(2n) td:not(:first-child):not(:last-child),
[class*="mado-table"]:not(.mado-table-normal).mado-table-stripe.markdown-rendered:not(.mado-table-left) .markdown-preview-section table tr:nth-child(2n) td:first-child,
[class*="mado-table"]:not(.mado-table-normal).mado-table-stripe.markdown-rendered.mado-table-left 		.markdown-preview-section table tr:nth-child(2n+1) td:first-child,
[class*="mado-table"]:not(.mado-table-normal).mado-table-stripe.markdown-rendered:not(.mado-table-right) .markdown-preview-section table tr:nth-child(2n) td:last-child,
[class*="mado-table"]:not(.mado-table-normal).mado-table-stripe.markdown-rendered.mado-table-right 		.markdown-preview-section table tr:nth-child(2n+1) td:last-child,
.mado-table-normal.mado-table-stripe.markdown-rendered 	.markdown-preview-section table tr:nth-child(2n+1) :is(td:first-child, td:last-child),
[class*="mado-table"]:not(.mado-table-normal).mado-table-border.markdown-rendered .markdown-preview-section table :is(tr th:nth-child(2n+2), tr td:nth-child(2n+1)),
[class*="mado-table"]:not(.mado-table-normal).mado-table-border.markdown-rendered.mado-table-bottom .markdown-preview-section table tr:last-child td:nth-child(2n){
	background-color:var(--background-primary);
}
.mado-table-normal.mado-table-stripe.markdown-rendered .markdown-preview-section table tr:nth-child(2n) td,
.mado-table-normal.mado-table-border.markdown-rendered .markdown-preview-section table :is(tr th:nth-child(2n+1), tr td:nth-child(2n+1)),
.mado-table-border.markdown-rendered.mado-table-bottom .markdown-preview-section table tr:last-child td:nth-child(2n+1),
[class*="mado-table"]:not(.mado-table-normal).mado-table-stripe.markdown-rendered.mado-table-bottom .markdown-preview-section table tr:last-child :is(td:first-child, td:last-child){
	background-color:var(--background-secondary);
}



/* Mado Table Auto-Expand */

/* Remove master-parent width limit */
.mado-table-auto.is-readable-line-width>div.markdown-preview-sizer.markdown-preview-section,
.mado-table-auto.markdown-source-view.mod-cm6.is-readable-line-width :is(.cm-sizer, .cm-content){
	max-width:100%;
}

/* attach width limit to all other normal divs except table */
.mado-table-auto.is-readable-line-width>div.markdown-preview-sizer.markdown-preview-section>div>*,
.mado-table-auto.markdown-source-view.mod-cm6.is-readable-line-width .cm-editor .cm-contentContainer .cm-content div:not(.cm-table-widget){
	max-width:var(--file-line-width);
	margin-inline:auto!important;
}
.mado-table-auto.is-readable-line-width>div.markdown-preview-sizer.markdown-preview-section>div>table,
.mado-table-auto.markdown-source-view.mod-cm6.is-readable-line-width .cm-editor .cm-contentContainer .cm-content table{
	max-width:100%;
	width:auto;
	margin-inline:auto!important;
}



  
